body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./static/background.png");
  background-position: center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
  background-color: azure;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 5px solid goldenrod;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 175px;
  height: 175px;
  border-radius: 25px;
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(89, 42, 99);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#link {
  color: white;
}
